<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      Menu
    </h2>
  </div>
    <div>
      <nav>
            <ul>
                <li>
                    <a href="./layouts/main.handlebars">Home</a>
                </li>
                <li>
                    <a href="dashboard.handlebars">Dashboard</a>
                </li>
                <li>
                    <a href="login.handlebars">Login</a>
                </li>
                <li>
                    <a href="signup.handlebars">Signup</a>
                </li>
            </ul>
        </nav>
        <h2>Previous Posts</h2>
        <section>
          <h2>Why MVC is so important</h2>
          <h5>Posted By: Xandromus on 4/8/2023</h5>
          <p>MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data, 
            the View layer for design, and the Controller layer for application logic.</p>
        </section>
        <section>
          <h2>Authentication vs. Authorization</h2>
          <h5>Posted By: Xandromus on 4/5/2023</h5>
          <p>There is a difference between authentication and authorization. Authentication means 
            confirming your own identity, whereas authorization means being allowed to access to the system. </p>
        </section>
        <section>
          <h2>Object-Relational Mapping</h2>
          <h5>Posted By: Lernantino on 4/1/2023</h5>
          <p>I have really loved learning about ORMs. It's really simplified the way I create queries in SQL! </p>
        </section>
    </div>
  </div>
</div>